# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/snpe-playground.iml
/.idea/vcs.xml
/inception_v3/output/
/models/inception_v3/tensorflow/imagenet_slim_labels.txt
/models/inception_v3/tensorflow/inception_v3_2016_08_28_frozen.pb
/models/inception_v3/tensorflow/inception_v3_2016_08_28_frozen_opt.pb
/models/inception_v3/data/cropped/chairs.jpg
/models/inception_v3/data/cropped/chairs.raw
/models/inception_v3/data/cropped/plastic_cup.jpg
/models/inception_v3/data/cropped/plastic_cup.raw
/models/inception_v3/data/cropped/raw_list.txt
/models/inception_v3/data/target_raw_list.txt
